
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}

body {
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p { 
    margin: 0
}
.header-top {
    height:50px;
    background-color:#f9f6f7;
    line-height: 50px;
}

.header-top__info {
    display: flex;
}

.header-top__info-email {
    display: flex;
    align-items: center;
    color:#737373;
    font-size:1.4rem;
}

.header-top__info-icon {
    padding:8px 7px 9px 7px;
    background-color:#e67c8e;
    margin-right: 8px;
    color:#fff;
    border-radius: 4px;
}

.header-top__info-phone {
    display: flex;
    align-items: center;
    color:#737373;
    font-size:1.4rem;
    margin-left: 43px;
}

.header-top__list {
    list-style: none;
    display:flex;
}   

.header-top__item {

}

.header-top__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    border-left: 2px solid #cccccc;
    padding: 4px 9px 4px 10px;
}

.header-top__item-icon {
    margin-right: 16px;
    font-size: 1.6rem;
    color: #cccccc;
}
